<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="header">
        <img v-bind:src="me.image.image.url" class="side-bar-bio-img img-responsive center-block">
        <p>{{me.name}}</p>
        <p>フォロー/フォロワー</p>
      </li>
      <li class="active" v-link="{ path: '/my_page' }"><a href=""><i class="fa fa-circle-o"></i>マイページ</a>
      <li v-link="{ path: '/dance_list' }"><a href=""><i class="fa fa-circle-o"></i>ダンス</a>
      <li><a href=""><i class="fa fa-circle-o"></i>曲</a>
        <li><a href=""><i class="fa fa-circle-o"></i>演出</a>
        <li><a href=""><i class="fa fa-circle-o"></i>質問広場</a>
      <li class="treeview">
        <a href="">
          <i class="fa fa-circle-o"></i>
          その他
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="">その他１</a></li>
          <li><a href="">その他２</a></li>
        </ul>
      </li>
    </ul>
    </section>
</aside>
